@font-face {
  font-family: "AmazonEmber";
  src: url('../template/font/AmazonEmber_Rg.ttf') format('truetype');
}


html{
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "AmazonEmber", "Quicksand", sans-serif;
    
  }

  body{
    overflow-x: hidden;
  
      overflow-x: hidden;
 }

 body::-webkit-scrollbar{
width: 15px;
 }

 body::-webkit-scrollbar-thumb{ 
   background-color: #aaa;

 }

 .App{
   width: 100%;
 }