.home {
  font-size: 10px;
  width: 100vw;
  height: auto;
  min-height: 2000px;
  margin: 0;
  padding: 0;
  background-color: white;

  .home__row {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-content: center;
    gap: 1em;
  }

  .slider_products {
    width: 100%;
    height: 40em;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em auto;

    h1 {
      font-size: 2.2em;
    }

    .slider__image {
      margin-right: 1.5em;
      display: flex;
      flex-direction: row;
      align-items: center;
      overflow-y: hidden;
      overflow-x: scroll;
      padding: 5px;
    }

    .slider__image::-webkit-scrollbar {
      height: 7px;
    }

    .slider__image::-webkit-scrollbar-thumb {
      background-color: #aaa;
      border-radius: 5px;
      width: 7px;
    }
  }
}



@media screen and (max-width: 800px) {
  .home {
    .home__row {
      padding-right: 8%;
    }
  }
}

@media screen and (max-width: 500px) {
  .home {
    .home__row {
      padding-right: 10%;
    }
  }
}

