.header {
  font-size: 10px;
  height: 7.4em;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: relative;
  top: 0;
  z-index: 100;

  .header__menuIcon {
    display: none;
  }

  .header__logo {
    width: 10em;
    object-fit: contain;
    margin: 10px 0.8em;
    margin-top: 15px;
    padding: 4px;
    padding-top: 5px;
    padding-bottom: 2px;
    border: 0.5px solid #131921;
  }

  .header__logo:hover {
    border: 0.5px solid white;
  }

  .header__ubication {
    color: white;
    display: flex;
    justify-content: center;
    padding: 4px;
    margin-right: 0.8em;
    cursor: pointer;
    border: 0.5px solid #131921;

    .header__location {
      display: flex;
      align-self: flex-end;
      margin-bottom: 2px;
    }

    .header__one {
      display: flex;
      flex-direction: column;

      .header__optionLineOne {
        font-size: 1em;
      }

      .header__optionLineTwo {
        font-size: 1.4em;
        font-weight: 800;
      }
    }
  }

  .header__ubication:hover {
    border: 0.5px solid white;
  }

  .header__search {
    width: 100%;
    display: flex;
    justify-content: center;
    flex: 1;
    border-radius: 24px;

    .header__searchInput {
      width: 90%;
      height: 35px;
      padding: 10px;
      border: none;
      border-radius: 5px 0 0 5px;
    }

    .header__searchIcon {
      width: 50px;
      padding: 1px;
      height: 35px !important;
      background-color: #febd69;
      border: none;
      border-radius: 0px 5px 5px 0px;
    }
  }

  .header__minisign_menu {
    visibility: hidden;
    position: absolute;
    top: 38px;
    transition: visibility 1s;
    transition-timing-function: ease-in-out;
    width: 100%;
  }

  .header__minisign_menu.active {
    visibility: visible;
    left: 0;
    opacity: 1;
    transition: visibility 1s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.5s;
    z-index: 100;
  }
}

.header__nav {
  position: relative;
  width: auto;
  min-width: 10em;
  display: flex;
  justify-content: space-evenly;

  .header__option {
    display: flex;
    flex-direction: column;
    margin-left: 0.4em;
    margin-right: 0.4em;
    padding: 4px;
    color: white;
    border: 0.5px solid #131921;

    .submenu__SignIn {
      position: absolute;
      top: 53px;
      right: 0px;
      visibility: hidden;
      transition: all 100ms ease;
      opacity: 1;
    }

    .submenu__SignIn.active {
      visibility: visible;
      transition: all 100ms ease;
      opacity: 1;
    }

    .header__optionLineOne {
      font-size: 1em;
    }

    .header__optionLineTwo {
      font-size: 1.4em;
      font-weight: 800;
    }

    .header__optionBasket {
      display: flex;
      align-items: center;
      color: white;
    }

    .header__basketIcon {
      font-size: 3em;
    }

    .header__basketCount {
      font-size: 1.5em;
      margin-right: 1em;
      margin-left: 1em;
    }
  }

  .header__option:hover {
    border: 0.5px solid white;
  }
}

.header__option.header__flag {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  color: #a7acb2;

  .submenu__lenguage {
    position: absolute;
    top: 53px;
    right: 0px;
    visibility: hidden;
    transition: all 100ms ease;
    opacity: 1;
  }

  .submenu__lenguage.active {
    visibility: visible;
    transition: all 200ms ease;
  }
}

.background-hidden {
  position: absolute;
  top: 59px;
  right: 0;
  width: 100vw;
  height: 91.5vh;
  background-color: rgba(0, 0, 0, 0.733);
  visibility: hidden;
  transition: all 100ms ease;
}

.background-hidden.active {
  visibility: visible;
  transition: all 100ms ease;
}

.header__flag-img {
  width: 3em;
}

.isActive {
  text-decoration: none;
}

.header__dropdown__menu {
  display: none;
}

@media screen and (max-width: 1000px) {
  .header {
    font-size: 9.5px;

    .header__nav {
      font-size: 9px;

      .background-hidden {
        top: 55px;
        height: 91vh;
      }

      .background-hidden.active {
        top: 55px;
        height: 91vh;
      }
    }

    .header__minisign_menu{
      display: none;
    }

    .header__minisign_menu.active{
      display: none;
    }

  }
}

@media screen and (max-width: 850px) {
  .header {
    font-size: 9px;

    .header__nav {
      font-size: 9px;

      .background-hidden {
        top: 54px;
        height: 91vh;
      }

      .background-hidden.active {
        top: 54px;
        height: 91vh;
      }
    }

    
  }
}

@media screen and (max-width: 750px) {
  .header {
    font-size: 9.5px;
    height: 10em;
    display: grid;
    grid-template-columns: minmax(10px, 70px);
    gap: 2em;
    grid-template-areas: "MenuIcon logo delivery search navbar";

    .header__logo {
      grid-area: logo;
      justify-self: center;
    }

    .header__ubication {
      grid-area: delivery;
    }

    .header__search {
      grid-area: search;
    }

    .header__nav {
      grid-area: navbar;
      min-width: 20em;
    }
  }
}

@media screen and (max-width: 675px) {
  .header {
    .header__logo {
      border: none;
    }

    .header__ubication {
      display: none;
    }

    .header__nav {
      .background-hidden {
        visibility: hidden;
      }

      .background-hidden.active {
        visibility: hidden;
      }

      .header__option.header__flag {
        display: none;
      }

      .submenu__SignIn {
        visibility: hidden;
      }

      .submenu__SignIn.active {
        visibility: hidden;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .Header {
    position: relative;

    .header {
      height: 12rem;
      gap: 0;
      position: relative;
      align-content: flex-start;

      .header__menuIcon {
        display: block;
        display: flex;
        justify-content: center;

        .icon {
          font-size: 3em;
          font-weight: 900;
          color: white;
        }
      }

      .header__search {
        width: 100%;
        min-width: 10px;
        max-width: 90%;
        position: fixed;
        top: 8%;
        left: 5%;
      }

      .header__nav {
        .header__option {
          border: none;
        }
        .header__option.return__orders {
          display: none;
        }
      }
    }
    .header__dropdown__menu {
      display: block;
      position: absolute;
      top: 0;
      left: -100%;
      width: 100vw;
      opacity: 1;
      transition: all 0.5s ease;
      min-width: 300px;
      width: 100%;
      z-index: 100;
    }

    .header__dropdown__menu.active {
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 100;
    }
  }
}
