.carousel {
  font-size: 10px;
  position: relative;
  height: 570px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;

  .carousel__arrowBack {
    width: 7em;
    height: 25em;
    position: absolute;
    top: 2px;
    left: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    z-index: 1;

    .icon {
      font-size: 3em;
    }
  }

  .carousel__arrowBack:hover {
    border: 3px solid #008296;
    outline: 2px solid white;
    border-radius: 5px;
  }

  .carousel__arrowForward {
    width: 7em;
    height: 25em;
    position: absolute;
    top: 2px;
    right: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    z-index: 1;

    .icon {
      font-size: 3em;
    }
  }

  .carousel__arrowForward:hover {
    border: 3px solid #008296;
    outline: 2px solid white;
    border-radius: 5px;
  }

  .slide {
    opacity: 0;
    transition-duration: 1s ease;
    object-fit: contain;

    .carousel-images {
      width: 100vw;
      height: 100%;
    }
  }

  .slide.active {
    opacity: 1;
    transition-duration: 0.7s;

    .carousel-images {
      width: 100vw;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media screen and (max-width: 1000px) {
  .carousel {
 
    font-size: 10px;
    position: relative;
    height: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;

    .carousel__arrowBack {
      height: 20em;

      .icon {
        font-size: 2.5em;
      }
    }

    .carousel__arrowBack:hover {
      border: 2px solid #008296;
      outline: 1px solid white;
    }

    .carousel__arrowForward {
      height: 20em;

      .icon {
        font-size: 2.5em;
      }
    }

    .carousel__arrowForward:hover {
      border: 2px solid #008296;
      outline: 1px solid white;
    }
  }
}

@media screen and (max-width: 850px) {
  .carousel {
    font-size: 10px;
  position: relative;
  height: 270px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;

    .carousel__arrowBack {
      height: 20em;

      .icon {
        font-size: 2.5em;
      }
    }

    .carousel__arrowBack:hover {
      border: 2px solid #008296;
      outline: 1px solid white;
    }

    .carousel__arrowForward {
      height: 20em;

      .icon {
        font-size: 2.5em;
      }
    }

    .carousel__arrowForward:hover {
      border: 2px solid #008296;
      outline: 1px solid white;
    }

    .slide {
      opacity: 0;
      transition-duration: 1s ease;
      object-fit: contain;

      .carousel-images {
        width: 100vw;
        height: 100%;
      }
    }

    .slide.active {
      opacity: 1;
      transition-duration: 0.7s;

      .carousel-images {
        width: 100vw;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}


@media screen and (max-width: 575px) {
  .carousel {
  height: 350px;

    .carousel__arrowBack {
      height: 10em;

      .icon {
        font-size: 2em;
      }
    }

    .carousel__arrowForward {
      height: 10em;

      .icon {
        font-size: 2em;
      }
    }

    .slide {
      opacity: 0;
      transition-duration: 1s ease;
      object-fit: cover;

      .carousel-images {
        width: 100vw;
        height: 100%;
      }
    }

    .slide.active {
      opacity: 1;
      transition-duration: 0.7s;

      .carousel-images {
        width: 100vw;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
