.carousel {
  font-size: 10px;
  position: relative;
  height: 570px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .carousel__arrowBack {
    width: 7em;
    height: 25em;
    position: absolute;
    top: 2px;
    left: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    z-index: 1;

    .icon {
      font-size: 3em;
    }
  }

  .carousel__arrowBack:hover {
    border: 3px solid #008296;
    outline: 2px solid white;
    border-radius: 5px;
  }

  .carousel__arrowForward {
    width: 7em;
    height: 25em;
    position: absolute;
    top: 2px;
    right: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    z-index: 1;

    .icon {
      font-size: 3em;
    }
  }

  .carousel__arrowForward:hover {
    border: 3px solid #008296;
    outline: 2px solid white;
    border-radius: 5px;
  }

  .slide {
      opacity: 0;
      transition-duration: 1s ease;
    

    .carousel-images {
        width: 101vw;
        height: 100%;
        object-fit: contain;
    }
  }

  .slide.active{
      opacity: 1;
      transition-duration: 0.7s;
      transform: scale(1.08);


    .carousel-images {
        width: 100vw;
        height: 100%;
        object-fit: contain;
      }
      
  }
}
