.checkoutProduct {
  font-size: 10px;
  width: 80%;
  border-top: 1px solid rgb(206, 204, 204);
  padding-top: 2em;

  .checkoutProduct__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .checkoutProduct__image {
      min-width: 40%;
      overflow: hidden;

      img {
        width: 90%;
        height: auto;
        object-fit: contain;
      }
    }

    .checkoutProduct__info {
      display: flex;
      flex-direction: column;
      background-color: rgb(245, 235, 235);

      .productProduct__title {
        font-size: 1.8em;
        margin-bottom: 0.5em;
      }

      .in-stock {
        color: #428329;
        font-size: 1.3em;
        margin-bottom: 0.2em;
      }

      .gift-option {
        font-size: 1.3em;

        .learn-more {
          color: #00a0d0;
          cursor: pointer;
          user-select: none;
        }
        .learn-more:hover {
          color: #c7511f;
          text-decoration: underline #c7511f;
        }
      }
    }

    .price_delete{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 2px;

      .delete{
        color: #00a0d0;
        font-size: 1.3em;
        cursor: pointer;
        user-select: none;
        
      }
      .delete:hover{
        text-decoration: underline #00a0d0;
        
      }


      .checkoutProduct__price {
      font-size: 1.8em;
      color: #b12704;
    }
    }

    
  }
}

@media screen and (max-width: 900px){
  .checkoutProduct {
    font-size: 8.5px;
    margin: 0 auto;
    .checkoutProduct__container {
      .checkoutProduct__info {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 550px){
  .checkoutProduct {
    font-size: 7.5px;
    margin: 0 auto;
    .checkoutProduct__container {

      .checkoutProduct__image {
        min-width: 45%;
        overflow: hidden;
  
      }

      .checkoutProduct__info {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 480px){
  .checkoutProduct {
    font-size: 7px;
    margin: 0 auto;
    .checkoutProduct__container {
      display: flex;
      flex-direction: column;

      .checkoutProduct__image {
        display: flex;
 
        align-items: center;
        min-width: 40%;
        overflow: hidden;
  
      }

      .checkoutProduct__info {
        width: 100%;
      }
    }
  }
}